// Define variables for your color scheme

// For example:
$red: #E7746F;
$blue: #59DAFD;
$yellow: #FDB631;
$orange: #E67E22;
$green: #108447;
$gray: #545454;
$black: #01060C;
$light-gray: #eeeeee;
$gray-dark: #222222;
