.explanation{
  width: 100%;
  margin-top: 20px;
  font-weight: 200;
  background-color: #050D11;
  color: white;
  border-radius: 5px 5px 0px 0px;
  padding: 30px 30px;
  ul{
    // list-style: none;
    margin-top: 20px;
  }
  li {
    font-size: 16px;
    padding-bottom: 5px;
  }
}

.offset_filterbar {
  padding-top: 30px;
}
