.cards-icon {
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
}

.banner-data {
  background-color: white;
  margin-top: 10px;
}

.alltype {
  position: relative;
}

.alltype1 {
  position: absolute;
  left: 15px;
  top: 15px;
}

.alltype2 {
  position: absolute;
  left: 30px;
  top: 30px;
}
