.general-tool-presentation {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  height: 200px;
  transition: padding-top 0.3s;
}

.call-to-action-zone-homepage {
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tool-features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 33%;
}

.feature-description {
  text-align: center;
}

.feature-title {
  color: $blue;
  text-align: center;
}

.feature-logo {
  height: 80px;
  transition: height 0.3s;
}

.over-banner {
  position: absolute;
  top: 60vh;
  margin-left: auto;
  margin-right: auto;
}

.homepage-content {
  display: flex;
  flex-orientation: column;
  align-items: center;
  justify-content: center;
}

.topic-management-confirmation-zone {
  padding: 100px;
  display: flex;
  justify-content: center;
}

.buttons-not-signedin {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#secret-picto {
  width: 95px;
  height: 90px;
}

#home-button {
  font-weight: 100;
  background-color: $blue;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  border-radius: 3px 3px 0 0;
  margin: 0 30px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

#home-button:hover {
  text-decoration: none;
  background-color: #39ace7;
  color: white;
}

#home-button-footer {
  color: white;
  text-decoration: none;
  font-weight: 500;
  background-color: #77e3ff;
  border-top: 1px solid #dce8f1;
  padding: 5px 40px;
  text-align: center;
  -webkit-border-radius: 0 0 3px 3px;
  display: inline-block;
  font-size: 14px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  margin: 0 30px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

#home-button-footer:hover {
  text-decoration: none;
  background-color: #39ace7;
  color: white;
}


@media (max-width:992px) {
  .general-tool-presentation {
    padding-top: 40px;
    height: 200px;
  }
}

@media (max-width:768px) {
  .over-banner {
    top: 67.5%;
  }
  .tool-features {
    flex-direction: column;
  }
  .feature {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .feature-column-responsive {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
  }
  .feature-logo {
    height: 90px;
    position: absolute;
    left: 5%;
  }
  .feature-description {
    text-align: left;
  }
  .feature-title {
    text-align: left;
  }
}

@media (max-width : 450px) {
  .general-tool-presentation {
    padding-top: 20px;
    height: 200px;
  }
}
