.banneruserdashboard {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}

.large-margin {
  margin: 30px;
  margin-bottom: 50px;
}

.statlign {
  display: flex;
  position: relative;
  margin-top: 35px;
  align-items: center;
}

.datelog {
  position: absolute;
  left: 40px;
}

.past-hidings {
  padding: 15px;
}

.publicnumber {
  position: absolute;
  left: 190px;
}

.sensitivenumber {
  position: absolute;
  left: 330px;
}

.seedashb {
  position: absolute;
  right: 0px;
}

.fa-facebook-square {
  color: #3B5998;
}

.fa-twitter-square {
  color: #55ACEE;
}

.logo-soc {
  margin-bottom: 0px;
}


.cards-icon {
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
}

.banner-data {
  background-color: white;
  margin-top: 10px;
}

.alltype {
  position: relative;
}

.alltype1 {
  position: absolute;
  left: 15px;
  top: 15px;
}

.alltype2 {
  position: absolute;
  left: 30px;
  top: 30px;
}
