<div class="fade-in">
  <div class="loading-page">
      <h1 class="loading-message">Please wait while we load and analyze your content<span>.</span><span>.</span><span>.</span></h1>
    <div class="Loader"></div>
  <!--   <%= link_to "Loading is finished", userstatistics_path, class: "btn-white-and-blue" %> -->
  </div>
</div>


<% content_for :javascript do %>
  <script>
    setInterval(function (){
      $.get('<%= shouldwego_path %>', function(data) {
        console.log(data);
        if (data) {
          window.location = '/userstatistics/' + data
        }
      })
    }, 3000)
  </script>
<% end %>
