<div class="banner">
  <div class="banner-content">
    <h1>Prime Privacy</h1>
    <div id="banner-logo">
      <img class="banner-logo"src=<%= image_path "logo.png" %> alt="logo">
    </div>
  </div>
</div>
