<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
          <a class="card-tick" src=""></a>
          <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
