<div class="draglist-container bg-black">
  <ul class="topic-list list-unstyled" id="draglist">
    <% @preferences.each do |prefence| %>
    <li class="draglist-box" draggable="true">
      <p class="rank"><%= prefence.rank %></p>
      <%= image_tag "#{prefence.topic.name}.png", class: 'picto hidden-xs' %>
      <p class="topic-name"><%= prefence.topic.name %></p>
      <a href="">
        <i class="far fa-times-circle delete-cross"></i>
      </a>
      <i class="fas fa-arrows-alt-v drag"></i>
    </li>
    <% end %>
<!--
    <li class="draglist-box">
      <p class="rank">7</p>
      <%= image_tag 'personal.png', class: 'picto personal hidden-xs' %>
      <p class="topic-name">Personal topic</p>
      <% if user_signed_in? %>
      <a href="">
        <i class="far fa-edit edit"></i>
      </a>
      <% end %>
      <a href="">
        <i class="far fa-times-circle delete-cross"></i>
      </a>
      <i class="fas fa-arrows-alt-v drag"></i>
    </li> -->
  </ul>
</div>
