<div>
  <div>
  <p class="rank">1</p>
  </div>

  <div>
  <i class="picto drag"></i>
  </div>

  <div>
  <i class="picto swearing"></i>
  </div>

  <div>
  <p class="topic-name">Swearing</p>
  </div>

  <div>
  <i class="picto delete-cross"></i>
  </div>
</div>
