<div class="filterbar-prime">
  <ul class="nav nav-tabs prime-tabs">
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle prime-tab" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="prime-tab">
          Social media <span class="caret"></span>
        </div>
      </a>

      <ul class="dropdown-menu filterbar-prime-dropdown-menu">
          <li class="dropdown-item"><%= link_to 'Facebook','#', class:"linkto"%></li>
          <li class="dropdown-item" href="#">Twitter</li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item" href="#">Add another account</li>
      </ul>
    </li>

    <li>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="prime-tab">
          Category <span class="caret"></span>
        </div>
      </a>
      <ul class="dropdown-menu filterbar-prime-dropdown-menu">
        <li class="dropdown-item">Images</li>
        <li class="dropdown-item" href="#">Posts</li>
        <li class="dropdown-item" href="#">Liked page</li>
      </ul>
    </li>

    <li>
      <a class="dropdown-toggle prime-tab" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="prime-tab">
          Sort by <span class="caret"></span>
        </div>
      </a>
      <ul class="dropdown-menu filterbar-prime-dropdown-menu">
        <li class="dropdown-item" href="#">Sensitivity</li>
        <li class="dropdown-item" href="#">Creation date</li>
        <li class="dropdown-item" href="#">Last modified date</li>
      </ul>
    </li>
  </ul>

  <a href="#" class="checkout-button">Make your *number* elements private</a>
</div>





<div class="filterbar-prime">
  <ul class="nav nav-tabs prime-tabs">
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle prime-tab" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="prime-tab">
          Social media <span class="caret"></span>
        </div>
      </a>
      <ul class="dropdown-menu filterbar-prime-dropdown-menu">
          <li class="dropdown-item"><%= link_to 'Facebook','#', class:"linkto"%></li>
          <li class="dropdown-item" href="#">Twitter</li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item" href="#">Add another account</li>
      </ul>
    </li>

    <li>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="prime-tab">
          Category <span class="caret"></span>
        </div>
      </a>
      <ul class="dropdown-menu filterbar-prime-dropdown-menu">
        <li class="dropdown-item">Images</li>
        <li class="dropdown-item" href="#">Posts</li>
        <li class="dropdown-item" href="#">Liked page</li>
      </ul>
    </li>

    <li>
      <a class="dropdown-toggle prime-tab" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="prime-tab">
          Sort by <span class="caret"></span>
        </div>
      </a>
      <ul class="dropdown-menu filterbar-prime-dropdown-menu">
        <li class="dropdown-item" href="#">Sensitivity</li>
        <li class="dropdown-item" href="#">Creation date</li>
        <li class="dropdown-item" href="#">Last modified date</li>
      </ul>
    </li>
  </ul>
  <a href="#" class="checkout-button">Make your *number* elements private</a>
</div>
