<div class="filterbar-prime">
  <div class="filterbar-prime-item">
    <ul class="nav nav-tabs">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Social media <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <a class="dropdown-item" href="#">Facebook</a>
            <a class="dropdown-item" href="#">Twitter</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Add another account</a>
        </ul>
      </li>

      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Categorie <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="#">Post</a>
          <a class="dropdown-item" href="#">Photo</a>
          <a class="dropdown-item" href="#">Video</a>
          <a class="dropdown-item" href="#">Liked page</a>
      </li>

      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Sort by <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="#">Sensitivity</a>
          <a class="dropdown-item" href="#">Creation date</a>
          <a class="dropdown-item" href="#">Last modified date</a>
      </li>
    </ul>
  </div>
</div>
