<div class="topics-container add-new-topics bg-black">
  <h2 class="topic-form-title">Add a sensitivity topic</h2>
  <form class="topic-form" action="">
    <input class="input-box-topic" type="text" name="topic-name">
    <input class="submit-btn-topic" type="submit" value="Add">
  </form>
</div>
