<h1> This is a Navbar </h1>
<%= render 'shared/navbar' %>

<h1> This is a draglist box </h1>
<div class="picto-showcase">
  <%= render 'shared/draglistbox' %>
</div>

<h1> This is a button </h1>
<%= render 'shared/button' %>

<h1> This is a social network bar </h1>
<%= render 'shared/social_network_connector' %>

<h1> This is a background texture </h1>
<div class="bg-texture"></div>
