<div class="container">

  <% if user_signed_in? %>
  <div class="row text-center">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <%= link_to "Go to your dashboard", userstatistics_path, class: "btn-black-and-blue btn-block" %>
    </div>
  </div>
  <% else %>
  <div class="row text-center">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <%= link_to "Take control of my data", new_user_registration_path, class: "btn-black-and-blue btn-block" %>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <%= link_to "Already have an account?", new_user_session_path %>
    </div>
  </div>
  <% end %>
</div>

