<div class="container">
  <%= render 'shared/social_network_connector' %>
  <div class="row text-center marginud">
    <%= link_to "Hide your data", loadingpage_path, class: "btn-black-and-blue"%>
  </div>
  <div class="banneruserdashboard">

  </div>
</div>
