<div id="subform-topic" hidden>
      <h2 id="topic-name-reminder" class="text-center"></h2>
      <div id="words-wrapper">
        <input class="input-box word-input" type="text" name="new-word" value="Word" >
        <input class="input-box word-input" type="text" name="new-word" value="Word" >
        <input class="input-box word-input" type="text" name="new-word" value="Word" >
      </div>
      <div id="words-form-btns">
        <input id="add-another-word" type="submit" value="â¨ Add another word">
        <div id="btn-submission-topic">
          <input id="cancel-btn" type="button" class="submit-btn-topic" value="Cancel" onClick="window.location.reload()">
          <input id="confirm-topic-btn" class="submit-btn-topic" type="submit" value="Confirm addition">
        </div>
      </div>
    </form>
  </div>
