<% PreferenceInitializer.new(current_user).create_pref if Preference.where(user: current_user).empty? %>

<div class="prime-container">
  <div class="topic-management-title center">
    <h1>Set up your sensitivity filters</h1>
    <h4>Choose the most sensitive topics & add your own sensitive topics</h4>
  </div>

  <div class="draglist bg-black font-white">
    <div class="draglist center">
      <h1 class="topiclist-header">Order the priority of my sensitivity filters </h1>
      <h4 class="topiclist-explained">Please order your topics from most sensitive to less sensitive</h4>
      <%= render 'shared/draglist' %>
    </div>

    <div class="add-new-topic">
      <%= render 'shared/inputbox' %>
    </div>
  </div>

  <div class="topic-management-confirmation-zone bg-texture">
    <%= link_to "Hide my secrets", loadingpage_path ,class:"blue-submit-btn topic-validation-button", :id => "trigger-loading" %>
  </div>
</div>
