.bg-texture-faded {
  background: linear-gradient(53deg, rgba(255, 255, 255, 0.25) 5.65%, $light-gray 28%), image-url('background.png') no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.bg-texture {
  background: image-url('background.png') no-repeat;
  width: 100%;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

.bg-black {
  background-color: $black;
}
