.bg-texture {
  background: linear-gradient(60deg, rgba(255, 255, 255, 0.25) 5.65%, #F6F6F6 30.57%), url('background.png') no-repeat;
  height: 594px;
  width: 100%;
}

.bg-black {
  background-color: $black;
}
