.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: asset-url('banner_background.png');
  }

.banner h1 {
  font-size: 64px;
  font-weight: light;
}

.banner-logo{
  width: 150px;
  transition: transform 0.5s ease;
}

.banner-logo:hover {
  transform: scale(1.2);
}

.banner-content{
  margin-left: auto;
  margin-right: auto;
  padding: 15vh 0;
}
