.banner {
  animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
              asset-url('banner_background.png') no-repeat bottom;
  content: "";
  opacity: 0;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.banner h1 {
  font-size: 64px;
  font-weight: light;
}

.banner-logo{
  width: 150px;
  transition: transform 0.5s ease;
}

.banner-logo:hover {
  transform: scale(1.2);
}

.banner-content{
  margin-left: auto;
  margin-right: auto;
  padding: 15vh 0;
}
