.btn-black-and-blue {
  text-decoration: none;
  padding: 20px 35px;
  border-radius: 5px;
  font-weight: bold;
  color: $blue;
  background-color: $black;
  border: 2px solid $blue;
  margin: 10px;
  transition: 0.4s;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.btn-block {
  display: block;
}

.btn-black-and-blue:hover {
  text-decoration: none;
  transition: 0.4s;
  color: white;
  border: 2px solid white;
}


.btn-white-and-blue {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: $blue;
  border: 2px solid white;
  margin: 2px;
  transition: 0.4s;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.btn-white-and-blue:hover {
  text-decoration: none;
  transition: 0.4s;
  color: $blue;
  border: 2px solid $blue;
  background-color: white;
}

.btn-black-and-blue-thin {
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 5px;
  font-weight: bold;
  color: $blue;
  background-color: $black;
  border: 2px solid $blue;
  margin: 2px;
  transition: 0.4s;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
}

.btn-black-and-blue-thin:hover {
  text-decoration: none;
  transition: 0.4s;
  color: white;
  border: 2px solid white;
}

.blue-submit-btn {
  font-weight: 100;
  background-color: $blue;
  border: none;
  color: white;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  border-radius: 3px;
  margin: 10px 30px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.blue-submit-btn:hover {
  text-decoration: none;
  background-color: #39ace7;
  color: white;
}
