.card {
 position: relative;
 color: white;
 height: 175px;
}

.post:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}


#container-cards {
  input[type=checkbox]{
    display:none ;
  }

  input[type=checkbox] + label{
    background-image: asset-url("square-regular.svg");
    background-repeat: no-repeat;
    background-position: 95% 49%;
    padding-right: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding-left: 3px;
    background-size: 20px 20px;
    color: black;
    text-shadow: none;
    position: absolute;
    right: 10px;
    top: 10px;

  }

  input[type=checkbox]:checked + label {
    background-image: asset-url("check-square-regular.svg");

  }
}

.post{
  height: 175px;
  overflow: hidden;
  border-radius: 3px;
  h2{
    background-color: #4260B4;
    background-size: 50px 50px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    height: 40px;
    padding-top: 11px;
    padding-left: 10px;
  }
  p {
    margin-bottom: 0px;
    color: black;
    text-shadow: none;
    font-size: medium;
  }
}

.post-content{
  display: flex;
  padding: 1vh 1vw;
  align-items: center;
   justify-content: space-around;
  height: 135px;
  overflow-y: scroll;
  background-color:  #E9EBEE;
}

.sensitive-card {
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: -14px;
  right: -14px;
}

.image{
  height: 175px;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  border-radius: 3px;
}
.image:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.fa-thumbs-up{
  color: black;
  font-size: 40px
}

