.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 3px;}

.card:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.row{
  margin-top: 20px;
  margin-bottom: 300px;
}


#container-cards {
  input[type=checkbox]{
    display:none ;
  }

  input[type=checkbox] + label{
    background-image: asset-url("square-regular.svg");
    background-repeat: no-repeat;
    background-position: 95% 49%;
    padding-right: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding-left: 3px;
    background-size: 20px 20px;
    color: black;
    text-shadow: none;
    position: absolute;
    right: 10px;
    top: 10px;

  }

  input[type=checkbox]:checked + label {
    background-image: asset-url("check-square-regular.svg");

  }
}

.post{
  h1{
    background-color: #4260B4;
    background-size: 50px 50px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    height: 40px;
    padding-top: 11px;
    padding-left: 10px;
  }
  p {
    margin-bottom: 0px;
    color: black;
    text-shadow: none;
    height: 125px;
    font-size: medium;
  }
}

.post-content{
  display: flex;
  padding: 1vh 1vw;
  align-items: center;
  height: 135px;
  overflow-y: scroll;
  background-color:  #E9EBEE;
}

.card-sensitive {
  height: 25px;
  width: 25px;
}

