.dropdown-toggle {
  color: white;
  height: 50px;
  border: none !important;
  border-radius: 0 !important;
  font-size: 18px;
  font-weight: 100;
}

.prime-tabs {
  border: none;
}

.prime-tab {
  line-height: 1.7;
  height: 50px;
  // border-left: $blue solid 1px;
}

.filterbar-prime {
  // top: 60px;
  display: flex;
  justify-content: center;
  font-weight: regular;
  color: white;
  height: 50px;
  background-color: $gray-dark;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filterbar-prime-dropdown-menu {
  margin-top: 15px;
  border-color: white;
  border-radius: 5px;
}

.filterbar-prime-dropdown-menu li {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  padding: 10px 20px;
}
.filterbar-prime-dropdown-menu li:hover {
  background: transparent !important;
  color: white !important;
  box-shadow: -5px rgba(255, 255, 255,0.25),  0 5px rgba(255, 255, 255,0.25);
}

.filterbar-prime-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: $gray-dark;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
