.dropdown-toggle {
  color: white;
  height: 60px;
  border: none !important;
  border-radius: 0 !important;
  font-size: 18px;
  font-weight: 100;
}

.dropdown-item {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background: transparent !important;
  color: white !important;
  box-shadow: -5px rgba(255, 255, 255,0.25),  0 5px rgba(255, 255, 255,0.25);
}

.filterbar-prime a:hover, a:focus {
  transition: color 0.3s;
  transition: background-color 0.3s ease-in-out;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: $gray-dark;
  background-image: none;
  color: $blue;

  .prime-tab:before {
    top: 0px;
    height: 60px;
    transform: scaleX(1);
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: $gray-dark;
  background-image: none;
}

a.dropdown-toggle {
  margin-right: 0 !important;
}

.prime-tabs {
  border: none;
}

.prime-tab {
  padding: 0 30px;
  line-height: 2;
  height: 60px;
}

.prime-tab:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  height: 60px;
  width: 100%;  /* or 100px */
  border-left: 1px solid white;
  border-right: 1px solid white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.filterbar-prime {
  top: 60px;
  display: flex;
  justify-content: center;
  font-weight: regular;
  flex-wrap: wrap;
  color: white;
  height: 60px;
  background-color: $black;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filterbar-prime-dropdown-menu {
  min-width: 100%;
  margin-top: 15px;
  border-color: white;
  border-radius: 3px;
  border-top: none;
  background-color: $gray-dark;
}

.filterbar-prime-dropdown-menu li {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  padding: 10px 20px;
}

.filterbar-prime-dropdown-menu li:hover {
  background: transparent !important;
  color: white !important;
  box-shadow: -5px rgba(255, 255, 255,0.25),  0 5px rgba(255, 255, 255,0.25);
}

// Conditional behaviour
@media (max-width:768px) {
  .filterbar-prime {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: stretch;
  }
}

#filterbar-button{
  border-radius: 0px;
  font-weight: 200;
}

#backtocontent{

}

