/* Main navbar */

// le not eleve partout marche pas apparement
body {
  padding-top: 60px;
}

.navbar-prime {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $black;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid #59DAFD 1px;
  font-family: "Roboto";
  font-weight: 100;
  width: 100vw;
}

.navbar-prime-title {
  font-size: 22px;
  line-height: 23px;
  align: center;
  fill: solid;
  color: white;
  transition: color 0.3s ease;
}

.navbar-prime-title:hover {
  color: $blue;
  text-decoration: none;
}

.navbar-prime-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-prime-logo img {
  height: 50px;
  transition: transform 0.5s ease;
}

.navbar-prime-logo img:hover {
  color: #59DAFD;
  transform: scale(1.2);
}

.page-top {
  top: 5px;
}

/* User Avatar */
.navbar-prime .avatar {
  height: 35px;
  width: 35px;
}

/* Right section */
.navbar-prime-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-prime-item {
  cursor: pointer;
  padding: 0 20px;
  transition: color 0.3s ease;
}

/* Navbar link */
.navbar-prime-link {
  color: #FFFFFF;
  font-size: 14px;
  transition: color 0.3s ease;
}

.navbar-prime-link:hover {
  color: $blue;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-prime-dropdown-menu {
  margin-top: 15px;
  border-color: white;
  border-radius: 3px;
}
.navbar-prime-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 18px !important;
  padding: 10px 20px;
}
.navbar-prime-dropdown-menu li > a:hover {
  background: transparent !important;
  color: white !important;
}
.navbar-prime-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: $black;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

@media (min-width:768px) {
  .page-center {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
  }
}
