.social-network-connector {
  display: flex;
  justify-content: space-around;
}

.social-network-logo {
  margin: 10px;
  position: relative;
}


.validate {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
