.socialmedia-explanation {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  font-weight: 200;
  background-color: #050D11;
  color: white;
  border-radius: 5px 5px 0px 0px;
  padding: 30px 30px;
}

.social-network-logo {
  margin: 10px;
  position: relative;
}

.logo-social-media {
  width: 90px;
  height: 90px;
}

.validate-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: white;
  border-radius: 50%
}

.socialmedia-icons {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.social-network-logo-small {
  width: 55px;
  height: 55px;
  position: relative;
}

.validate-icon-small {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0px;
  left: 37px;
  background-color: white;
  border-radius: 50%
}

.small-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-icons {
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

@media (max-width:768px) {
  .socialmedia-explanation {
    border-radius: 0px;
  }
}
